body {
            font-family: sans-serif;
            background-color: whitesmoke;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: auto;
        }

        .input-container {
            background: white;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid silver;
            width: 100%;
            max-width: 400px;
            position: relative;
        }

        textarea {
            width: 100%;
            height: 120px;
            padding: 10px;
            border: 2px solid silver;
            border-radius: 8px;
            font-size: 16px;
            box-sizing: border-box;
        }

        .counter-container {
            text-align: right;
            margin-top: 10px;
            font-weight: bold;
            color: gray;
        }
        .img{
            position:absolute;
            background-color: black;
            opacity: 0.6;
            height: 100%;
            width: 100%;
        }   
        .img img{
            height: 100%;
            width: 100%;
        }
